[submodule "flex"]
	path = flex
	url = git@github.com:johansyd/flex-installer.git
[submodule "install-composer"]
	path = install-composer
	url = git@github.com:johansyd/install-composer.git
[submodule "composer"]
	path = composer
	url = git@github.com:johansyd/install-composer.git
